@model ICollection<GreenHouse.Models.Plant>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">@Model.Count plantas.</h1>
    <table class="table table-responsive table-hover table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nome</th>
            </tr>
        </thead>

        <tbody>
            @foreach(var p in Model){
                <tr>
                    <td>@p.Id</td>
                    <td>@p.PlantName</td>
                </tr>
            }
        </tbody>
    </table>
</div>
