@model Aula02.Models.StudentCourses

<h1>Create</h1>

<h4>Inscrição</h4>

<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" asp-controller="StudentCourses">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="StudentID" class="control-label">Estudante</label>
                <select asp-for="StudentID" class="form-control" asp-items="ViewBag.Students">
                    <option value=""> </option>
                </select>
                <span asp-validation-for="StudentID" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="CourseID" class="control-label">Curso</label>
                <select asp-for="CourseID" class="form-control" asp-items="ViewBag.Courses">
                    <option value=""></option>
                </select>
                <span asp-validation-for="CourseID" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="SignDate" class="control-label">Data de entrada</label>
                <input asp-for="SignDate" class="form-control"/>
                <span asp-validation-for="SignDate" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="CancelDate" class="control-label">Data de cancelamento</label>
                <input asp-for="CancelDate" class="form-control" />
                <span asp-validation-for="CancelDate" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>